// Div sizes
$container-width: 90%;

// Div radiuses
$mainRadius: 0.26rem;
$mediumRadius: 0.62rem;

// Colors
$white: #ffffff;
$text: #000000;
$lightText: #555555;
$mediumGrey: #949494;
$lightDarkGrey: #C7C7C7;
$blue: #029491;
$lightBlue: #7CE3E1;
$lightGrey: #f3f3f3;
$grey: #D2D2D2;
$green: #8AC540;
$yellow: #FFB64F;
$velvet: #5970FF;
$blue: #3BA5E0;
$teal: #7CE3E1;
$darkTeal: #029491;
$tomato: rgb(255, 99, 71);

// Media querys
$mobileL: 426px;
$tablet: 769px;
$laptop: 1024px;
$laptopL: 1440px;
$fourK: 2560px;
